body {
  background: #352f5b;
  font-family: "Josefin Sans", sans-serif;
  font-size: 23px;
}

.container {
  max-width: 400px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background: #423a6f;
  color: #fff;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

.btn:hover {
  background: #423a6f;
  color: #fff;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-radius: 13px 13px;
  transition: 0.8s;
}
.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.check-icon {
  color: #fff;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.checked .checkbox {
  background: #423a6f;
  border-color: #fff;
}

.checked .check-icon {
  opacity: 1;
}

.edit-icon {
  cursor: pointer;
  color: #fff;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.edit-icon:hover {
  color: #ffcc00;
}

.delete:hover {
  color: #ffcc00;
}
