body {
  background: #352f5b;
  font-family: "Josefin Sans", sans-serif;
  font-size: 23px;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos {
  max-width: 100%;
  width: 100%;
}

.todos li {
  background: #423a6f;
  color: #fff;
  word-wrap: break-word;
  white-space: normal;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.todos li .task-text {
  flex-grow: 1;
  margin: 0 10px;
  max-width: calc(100% - 100px);
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

.btn:hover {
  background: #423a6f;
  color: #fff;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-radius: 13px 13px;
  transition: 0.8s;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.check-icon {
  color: #fff;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.checkbox-container.checked .checkbox {
  background: #423a6f;
  border-color: #fff;
}

.checkbox-container.checked .check-icon {
  opacity: 1;
}

.edit-icon {
  cursor: pointer;
  color: #fff;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.edit-icon:hover {
  color: #ffcc00;
}

.delete:hover {
  color: #ffcc00;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; /* Расстояние между трекером и заголовком */
}

.task-counter {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.task-counter i {
  margin-right: 5px;
  color: #ffcc00;
}