<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
<!--            <img src="logo.png" alt="Logo" class="logo">-->
            <h2>Sign in to your account</h2>
            <form method = 'POST' action="{% url 'accounts:login' %}">
                    {{ form }}
                <div class="forgot-password">
                    <a href="#">Forgot password?</a>
                </div>
                {% csrf_token %}
                <button type="submit" class="btn">Sign in</button>
            </form>
            <p class="register-link">Don't have an account? <a href="#">Create an account</a></p>
        </div>
    </div>
</body>
</html>
