<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            {% if form.errors %}
                <div class="error-box">
                    {% for key, value in form.errors.items %}
                        {% for error in value %}
                    <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <h2>Sign in to your account</h2>
            <form method = 'POST' action="{% url 'accounts:login' %}">
                    {{ form }}
                <div class="forgot-password">
                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                </div>
                {% csrf_token %}
                <button type="submit" class="btn">Sign in</button>
            </form>
            <p class="register-link">Don't have an account? <a href="{% url 'accounts:register' %}">Create an account</a></p>
        </div>
    </div>
</body>
</html>
