{% extends 'accounts/reset_password.html' %}

{% block title %}<title>Change Password</title>{% endblock %}

{% block content %}
    <div class="reset-container">
        <div class="reset-box">
            <div class="reset-header">
                <h1>Change your password</h1>
                {% block errors %}
                    {{ block.super }}
                {% endblock %}
            </div>
            <form method="POST">
                 {% csrf_token %}
                 {{ form }}
                <button type="submit" class="reset-btn">Change Password</button>
            </form>

            <div class="back-link">
                <a href="{% url 'accounts:profile' %}">Back to profile</a>
            </div>
        </div>
    </div>
{% endblock %}