{% extends 'accounts/reset_password.html' %}

{% block title %}<title>Change Password</title>{% endblock %}

{% block content %}
    <div class="reset-container">
        <div class="reset-box">
            <div class="reset-header">
                <h1>Change your password</h1>
                {% if form.errors %}
                    <div class="error-box">
                        {% for key, value in form.errors.items %}
                            {% for error in value %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <form method="POST">
                 {% csrf_token %}
                 {{ form }}
                <button type="submit" class="reset-btn">Change Password</button>
            </form>

            <div class="back-link">
                <a href="{% url 'accounts:profile' %}">Back to profile</a>
            </div>
        </div>
    </div>
{% endblock %}