
{% extends 'accounts/profile.html' %}

{% block content %}
  <div class="change-name-modal">
    <h2>Change your name</h2>
    {% if form.errors %}
      <div class="error-box">
        {% for key, value in form.errors.items %}
          {% for error in value %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}
    <form method="post">
      {{ form }}
      {% csrf_token %}
      <div class="modal-buttons">
        <button type="submit" class="btn">Confirm change</button>
        <button type="button" class="btn btn-cancel">Cancel</button>
      </div>
    </form>
  </div>
{% endblock %}