 <!DOCTYPE html>
 {% load static %}
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Create Account</title>
     <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/register.css' %}">
 </head>
 <body>
     <div class="register-container">
         <div class="register-box">
             <h2>Create an account</h2>
             {% if form.errors %}
                <div class="error-box">
                    {% for key, value in form.errors.items %}
                        {% for error in value %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
             <form method="POST" action="{% url 'accounts:register' %}">
                 {{ form  }}
                 {% csrf_token %}
                 <button type="submit" class="btn">Sign up</button>
             </form>
             <p class="login-link">Already have an account? <a href="{% url 'accounts:login' %}">Sign in</a></p>
         </div>
     </div>
 </body>
 </html>