<!DOCTYPE html>
{% load static %}
{% load my_filters %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Календарь</title>
    <link rel="stylesheet" href="{% static 'tasks/css/calendar.css' %}">
</head>
<body>
    <div class="calendar-container">
        <div class="calendar">
            <div class="calendar-header">
                <span class="month-year">{{actual_month}}, {{today_year.year}}</span>
            </div>
            <div class="calendar-grid">
                {% for w_day in week_days %}
                    <div class="day-header">{{ w_day }}</div>
                {% endfor %}

                {% for day in empty_days|my_range %}
                    <div class="day empty"></div>
                {% endfor %}

                {% for day in days_in_month|my_range %}
                    {% if today_year.month > today_compare.month and today_year.year >= today_compare.year or day > today_compare.day and today_year.month == today_compare.month or today_year.year > today_compare.year %}
                        <a href="{% url 'day_task' day=day month=today_year.month year=today_year.year%}">
                            <div class="day">{{day}}</div>
                        </a>

                    {% else %}
                        <a href="{% url 'completed_task' day=day month=today_year.month year=today_year.year%}">
                            <div class="day past-day">{{ day }}</div>
                        </a>

                    {% endif %}
                {% endfor %}
            </div>

            <div class="calendar-navigation">
                <a href="{% url 'change_month' month=today_year.month year=today_year.year sign='-'%}">
                    <button class="nav-button" id="prev-month">&lt;</button>
                </a>
                <a href="{% url 'calendar' %}">
                    <button class="nav-button" id="current-month">●</button>
                </a>
                <a href="{% url 'change_month' month=today_year.month year=today_year.year sign='+'%}">
                    <button class="nav-button" id="next-month">&gt;</button>
                </a>
            </div>
        </div>
    </div>
    <div class="calendar-back-container">
        <a href="{% url 'main_page' %}" class="calendar-back-to-tasks">
            <i class="fas fa-arrow-left"></i> Back to Todos
        </a>
    </div>
</body>
</html>