

<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/1362334b71.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'tasks/css/history.css' %}">
    <title>Completed Tasks History</title>
  </head>
  <body>
    <div class="container history-container text-light">
      <h2 class="text-center">Completed Tasks History</h2>
      <div class="text-center mb-4">
        <a href="{% url 'main_page' %}"><span class="back-to-tasks"><i class="fas fa-arrow-left"></i> Back to Todos</span></a>
      </div>
      <br>
      {% for dt in date %}
      <div class="history-section">
        <h3 class="history-date">{{ dt.created_at }}</h3>
        <ul class="list-group history-list">
          {% for desc in all_tasks %}
            {% if desc.created_at == dt.created_at %}
              <li class="list-group-item completed-task d-flex justify-content-between align-items-center">
                <span class="task-text">{{ desc.description }}</span>
                <div>
                  <a href="{% url 'edit_history' id=desc.id %}"><i class="fas fa-pencil-alt edit-icon" data-id="{{ desc.id }}"></i></a>
                  <a href="{% url 'delete_history' id=desc.id %}"><i class="far fa-trash-alt delete" data-id="{{ desc.id }}"></i></a>
                  <a href="{% url 'restore_todo' id=desc.id %}"><i class="fas fa-undo restore-icon" data-id="{{ desc.id }}"></i></a>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </body>
</html>


