
{% extends 'delete_with_confirm.html' %}

{% block title %}<title>Confirm deletion of account</title>{% endblock %}

{% block content %}
    <div class="confirm-account-delete-container">
        <h2>Delete Account</h2>
        <p>This action is <strong>irreversible</strong>. All your data will be permanently deleted.<br>Are you sure you want to continue?</p>
        <div class="account-buttons">
            <form method="post" class="account-delete-form">
                {% csrf_token %}
                <button type="submit" class="btn btn-delete-account">Yes, delete my account</button>
            </form>
            <a href="{% url 'accounts:profile' %}" class="btn btn-cancel-account">Cancel</a>
        </div>
    </div>
{% endblock %}


