<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Task</title>
  <link rel="stylesheet" href="{% static 'tasks/css/edit_page.css' %}">
</head>
<body>
  <div class="container">
    <h2>Edit Task</h2>
    <form method="post">
      {% csrf_token %}
      <div class="edit-form">
          {{ form.description }}
        <button type="submit" class="btn">Save changes</button>
      </div>
    </form>
    {% if which_edit == 'History' %}
      <a href="{% url 'tasks:history' %}" class="btn cancel-btn">Cancel</a>
    {% elif which_edit == 'Task'%}
      <a href="{% url 'tasks:main_page' %}" class="btn cancel-btn">Cancel</a>
    {% elif which_edit == 'Calendar_last'%}
      <a href="{% url 'calendar_tasks:day_task' day=date.day month=date.month year=date.year %}" class="btn cancel-btn">Cancel</a>
    {% else %}
      <a href="{% url 'calendar_tasks:completed_task' day=date.day month=date.month year=date.year %}" class="btn cancel-btn">Cancel</a>
    {% endif %}
  </div>

</body>
</html>